.fromContainer {
    background-color: #e8dacc;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .formWrapper {
      background-color: #e8e6d9;
      padding: 20px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      }
      .title {
        color: #d3ab9e;
        font-size: 12px;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        input {
          padding: 15px;
          border: none;
          width: 250px;
          border-bottom: 1px solid #e8dacc;
          border-radius: 10px;
          &::placeholder {
            color: rgb(175, 175, 175);
          }
        }
        button {
          background-color: #e8dacc;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;
          border-radius: 10px;
        }
      }
      p {
        color: #5d5b8d;
        font-size: 12px;
        margin-top: 10px;
      }
    }

    body {
      background-image: url('../Img/top-close-up-view-vegetables-tomatoes-with-pedicels-garlic-bell-peppers-lemon-oil-onion_140725-72203.avif');
      display: flex;
      background-repeat: no-repeat;
      background-size: cover;
    }